* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font", "Quicksand", sans-serif;
}

// Basic style of the Sliders
scale trough {
  all: unset;
  background-image: none;
  background-color: #111827; 
  border-radius: 50px;
  min-height: 8px; /* Grosor delgado */
}

scale trough highlight {
  all: unset;
  background-image: none;
  border-radius: 50px;
}

/* --- Individual colors for each slider --- */
.s-red trough highlight {
  background-color: #f7768e;
}

.s-blue trough highlight {
  background-color: #7aa2f7;
}

.s-yellow trough highlight {
  background-color: #e0af68;
}

// Original Calendar Styles
.cal-box {
    background-color: #090E20;
    border: 0;
    padding: 3px;
}

.header-box {
    color: #7aa2f7;
    font-weight: bold;
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    margin-bottom: 10px;
}

calendar {
    background-color: transparent;
    color: #c0caf5;
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    padding: 7px;
    border: 0;
}

calendar.button {
    color: transparent;
}

calendar.highlight {
    color: #2dd4bf;
    font-weight: bold;
}

calendar:selected {
    background-color: #2dd4bf;
    color: #090E20;
    border-radius: 50px;
}
