* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font", "Quicksand", sans-serif;
}

// Basic style of the Sliders
scale trough {
  background-color: #111827;
  border-radius: 50px;
  min-height: 42px;
}

scale highlight {
  border-radius: 50px;
}

// Changed to blue on the dashboard (#7aa2f7)
.s-blue highlight {
  background-color: #7aa2f7;
}

.slider-icon-blue {
  color: #7aa2f7;
  font-size: 20px;
}
