* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
}

.bar {
  background: rgba(2, 6, 18, 0.98);

  border-radius: 20px;

  min-width: 52px;

  padding: 14px 0;

  box-shadow:
    0 0 15px rgba(0,0,0,0.55),
    inset 0 0 0 1px rgba(255,255,255,0.02);
}

/* ICONS */

.launcher {
  font-size: 26px;

  color: #c0caf5;

  min-width: 52px;
  min-height: 28px;

  margin: 2px 0;

  transition: 200ms;
}

.launcher:hover {
  color: #7aa2f7;
}

/* WORKSPACES */

//.workspace {
//  min-width: 8px;
//  min-height: 22px;

//  border-radius: 999px;

//  background: #5c6370;
//}

//.workspace.active {
//  background: #7aa2f7;

//  box-shadow:
//    0 0 8px rgba(155,181,255,0.7);
//}




/* CLOCK */

.clock-box {
  background: rgba(255,255,255,0.03);

  border-radius: 12px;

  padding: 8px 0;

  min-width: 50px;
}

.hour {
  font-size: 25px;
  font-weight: bold;

  color: #c0caf5;
}

.minute {
  font-size: 25px;

  color: #c0caf5;
}
