* {
all: unset;
}


.menu {
background-color: #090E20;
color: #c0caf5;

border-radius: 10px;

padding: 25px;

min-width: 10px;
}

.menu-item {
color: #c0caf5;

font-size: 20px;
font-weight: 500;

padding: 10px 10px;
border-radius: 60px;

transition: 200ms;
}

.menu-item label {
color: #c0caf5;
}

.menu-item:hover {
background-color: rgba(192, 202, 245, 0.08);
}

.menu-label {
  margin-left: -100px;
}

.bspwm-label {
  margin-left: 15px;
}

.arrow {
  margin-left: 30px;
  font-size: 22px;
}
